{% extends 'instaSite/base.html' %}

{% block content %}




<div class="container padding">
{% if form.errors %} 
	<h4>Your username and password didn't match. Please try again.</h4> 
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}"> 
	{% csrf_token %} 

   		<div class="container padding">
		{{ form.username.label_tag }}
		{{ form.username }}
		</div>
	  	<div class="container padding">
		{{ form.password.label_tag }}
		{{ form.password }}
		</div><br>

	<input type="submit" class="btn buton" value="login" /> 
	<input type="hidden" name="next" value="{% url 'category_list' %}" /> 
</form>

</div>
{% endblock content %}
