{% extends 'instaSite/base.html' %}

{% block content %}
<section class="container" style="padding-top:5em;margin-top:5em;text-align:center">
<div class="h1-container">
		<div class="backgrounds" style="padding-top:0; margin-top:0">
		 <span class="letter" data-letter="A">A</span>
  		<span class="letter" data-letter="B">B</span>
  		<span class="letter" data-letter="O">O</span>
  		<span class="letter" data-letter="U">U</span>
		<span class="letter" data-letter="T">T</span>
		</div>
  		<br>
			{% if user and not user.is_anonymous %}
       <button type="button" class="btn btn-success"><a href="/api/">Api Access</a></button>
			{% endif %}
		</div>
</section>
<br>
<main>
		<div class="container" style="text-align:center">
		<h3>Sortable is made by Sarah Stanton and Rachel Paresa as a final project for Info 344.</h3>
<br>
		<h5>Built on Django with help from MySQL, Bootstrap, and AWS Services. Pictures come from the Twitter API.</h5>
		</div>
</main>


</div>

{% endblock %}